html {
  height: 100%;
  width: 100%;
  background-color:rgb(170,170,170);
}
table {
  background-color: #303030;
 
}
th {
  color: white;
  width:10vh;
}

/*
.rectangle {
  height: 50px;
  width:70vh;
  background-color: #303030;
}*/

h1 {
  font-family: "Lucida Console", "Courier New", monospace;
  padding:20px;
  margin:0px;
  background-color: #303030;
  color:white;
}
.container {
  display: grid;
   align-items: center; 
   grid-template-columns: 1fr 1fr 1fr;
   column-gap: 5px;
}
h3 {
  padding:20px;
  width:400px;
  font-family: "Times New Roman", Times, serif;
}




/*Filter that I copied code for*/
.contrast { filter: contrast(160%); }
