html {
  height: 100%;
  width: 100%;
}
table {
  background-color: #303030;
  offset: path('M 150 100 C 150 0 0 0 350 0') 0deg;
}
th {
  color: white;
  width:10vh;
}
.rectangle {
  height: 50px;
  width:70vh;
  background-color: #303030;
}
h1 {
  padding:20px;
  margin:0px;
  background-color: #303030;
  color:white;
}
.container {
  display: grid;
   align-items: center; 
   grid-template-columns: 1fr 1fr 1fr;
   column-gap: 5px;
}
h3 {
  padding:100px;
  width:400px;
}




/*Filters that I copied code for*/
.saturate { filter: saturate(3); }
.grayscale { filter: grayscale(100%); }
.contrast { filter: contrast(160%); }
.brightness { filter: brightness(1.25); }
.blur { filter: blur(3px); }
.invert { filter: invert(100%); }
.sepia { filter: sepia(100%); }
.huerotate { filter: hue-rotate(180deg); }
.rss.opacity { filter: opacity(50%); }