html {
  height: 100%;
  width: 100%;
}
table {
  background-color: #79cfec;
 
}
th {
  color: #26435a;
  width:10vh;
}
/*
.rectangle {
  height: 50px;
  width:70vh;
  background-color: #303030;
}*/
h1 {
  font-family: "Lucida Console", "Courier New", monospace;
  padding:20px;
  margin:0px;
  background-color: #79cfec;
  color:#14243d;
}
.container {
  display: grid;
   align-items: center; 
   grid-template-columns: 1fr 1fr 1fr;
   column-gap: 5px;
}
h3 {
  padding:20px;
  width:400px;
  font-family: "Times New Roman", Times, serif;
}




/*Filters that I copied code for*/
.saturate { filter: saturate(3); }
.grayscale { filter: grayscale(100%); }
.contrast { filter: contrast(160%); }
.brightness { filter: brightness(3); }
.blur { filter: blur(3px); }
.invert { filter: invert(100%); }
.sepia { filter: sepia(100%); }
.huerotate { filter: hue-rotate(180deg); }
.rss.opacity { filter: opacity(50%); }